:root {
    --bg: #121212;
    --text: #EBEBEB;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

a {
   color: var(--text);
   text-decoration: none;
}

a:hover {
  text-decoration-line:underline;

}

b {
  font-weight: 600;
}

p {
  font-weight: 400;
}

h1 {
  font-size: 64px;
  font-weight: inherit;
  margin: 0;
}

.outer {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  justify-content: center;
}

.inner {
  text-align: left;
  width: 60vw;
  height: 80vh;
  margin: 10vh;
}

.link {
  padding: 0;
  text-align: left;
  height: inherit;
}
